html, body {
   min-width: 1437px; 
}

body {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Lato';
    
    margin: 0 auto;
}

*, *::after, *::before {
    box-sizing: border-box;
    transition: .4s all;
}

.container {
    width: 1300px;

    margin: 0 auto;
    padding: 25px;
}

.container-footer {
    width: 1220px;

    margin: 0 auto;
    padding: 25px;
}

p {
    line-height: 24px;
}

button, a.link-button, a.link-button__small {
    display: inline-block;

    font-size: 1.4em;
    text-transform: uppercase;

    padding: 15px 50px;

    background-color: #1B7DFF;
    color: #fff;
    border: 0;
}

a.link-button__small {
    display: inline-block;

    font-size: 1em;
    padding: 12px 20px;
}

button:hover, a.link-button:hover, a.link-button__small:hover {
    background-color: #1b69cf;
}

.wave-link__block {
    position: relative;
}

.wave-link {
    text-transform: uppercase;

    color: #006DFE;
    
    margin-right: 20px;
}

.wave-link + .wave-link__wave {
    top: 6px;
    position: absolute;
}

.wave-link:hover + .wave-link__wave {
    margin-left: 10px;
}

.general-header {
    font-size: 2.15em;

    margin-bottom: 53px;
    max-width: 630px;

    color: #102746;
}

.general-header::after {
    content: "";

    display: block;
    height: 3px;
    width: 253px;

    margin-top: 7px;

    background-color: #006DFE;
}

input[type="button"], button, label {
    cursor: pointer;
} 

/* work */

/* \/=== page-header === */

.page-header {
    background-image: url("../images/header/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 30px 0 ;

    color: #fff;
    
}

.header-item {
    position: relative;
}

/* \/header-sup */

.header-sup {
    display: grid;
    grid-template-columns: 90px 1fr;

    margin-bottom: 185px;
}

.header-logo, .header-logo__link, .header-logo__image {
    display: block;

    width: 100%;
    height: 100%;
}

.header-nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 80px;

    max-width: 570px;

    justify-self: end;
}

.header-nav__list a {
    font-size: 1.1em;
    padding: 7.5px;
}

.header-nav__list a:hover {
    opacity: 0.5;
}

.bar-for__360px {
    display: none;
}

/* /\header-sup */

/* \/header-main */

.header-main__title {
    font-size: 3.5em;
    font-weight: 500;

    margin-bottom: 22px;

    width: 700px;
}

.header-main__info {

    width: 540px;
    margin-bottom: 80px;
}

.header-main__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 915px;


    gap: 60px;

    margin-bottom: 230px;
}

.header-main__form .form-item {
    display: flex;
    flex-basis: 300px;
    padding-bottom: 25px;

    border-bottom: 2px solid #fff;

    position: relative;
    cursor: pointer;
}

.header-form__input--radio {
    /*margin-right: 25px;*/
    height: 20px;
    width: 20px;

    border-radius: 50%;
    
    background-color: transparent;
    border: 2px solid #fff;

    appearance: none;

    position: relative;
}

.header-form__input--radio +  .radio-input__click {
    opacity: 0;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-top: 4px;

    background-color: #fff;

    position: absolute;

    border-radius: 50%;
}

.header-main input[type="radio"]:checked + span {
    opacity: 1;
}

.header-form__label {
    font-size: 1.1em;

    position: absolute;
    
    width: 100%;

    padding: 25px;
    padding-left: 45px;
    padding-top: 0;
}

/* /\header-main */

/* \/header-footer */

.header-footer {
    position: absolute;
    top: 680px;
    left: -7.5%;
    
    width: 115%;
    height: min-content;

    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);

}

.header-footer__item {
    padding: 100px 70px 120px;
    
    width: 80.7%;
    margin: 0 auto;
}

.header-footer__title {
    font-size: 2.15em;

    margin-bottom: 120px;
    max-width: 340px;

    color: #102746;
}

.header-footer__list {
    display: flex;
    flex-wrap: wrap;

    gap: 20px 30px;
}

.hfooter-list__item {
    width: 320px;
}

.hfooter-list__item::before {
    content: "";

    display: block;
    margin-bottom: 37px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat !important;
}

.hfooter-list__item--temple::before {
    background: url("../images/header/header-footer/Icon1.svg")
}

.hfooter-list__item--guide::before {
    background: url("../images/header/header-footer/Icon2.svg")
}

.hfooter-list__item--businesses::before {
    background: url("../images/header/header-footer/Icon3.svg")
}

.hfooter-list__title {
    font-size: 1.1em;

    margin-bottom: 26px;
    max-width: 270px;
}

.hfooter-list__info {
    margin-bottom: 40px;
    max-width: 305px;
}

/* /\header-footer */

/* /\=== page-header === */










/* ==== \/trip-list === */

.trip {
    margin: 650px 0 150px;
}

/* \/trip-sup */

.trip-sup {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 53px;
}

.trip-title {
    margin-bottom: 0;
}

/* /\trip-sup */

/* \/trip-main */

.trip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
}

.trip-list__item {
    flex-grow: 1;

    position: relative;
}

.trip-pic-info {
    opacity: 0;

    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 100%;
    padding: 30px;

    position: absolute;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);

    transition: .4s all;
}

.trip-pic-info__title {
    font-weight: 900;
    font-size: 2.7em;

    color: #fff;
}

li.trip-list__item:hover .trip-pic-info {
    opacity: 1;
}

.trip-list__item--wide {
    flex-basis: 49.6%;
}

.trip-list__item--wide .trip-item__image {
    width: 619px;
    height: 354px;
}

.trip-list__item--small {
    flex-basis: 32.33555%;
}

.trip-list__item--small .trip-item__image {
    width: 415px;
    height: 283px;
}

.trip-item__image {
    display: block;
    width: 100%;
    height: 100%;
}

/* /\trip-main */


/* ==== /\trip-list === */







/* ==== \/prefectures === */

.prefectures {
    margin-bottom: 150px;
}

.pfc-list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.pfc-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    color: #102746;
}

.pfc-list__item:nth-child(2n) > .pfc-list__item--image {
    order: 1;
    margin-left: 110px;
    margin-right: 0;
}

.pfc-list__item--image {
    width: 597px;
    height: 354px;

    margin-right: 110px;
}

.pfc-list__info {
    width: 520px;
}

.pfc-list__title {
    font-size: 1.8em;

    margin-bottom: 85px;
}

.pfc-list__desc {
    margin-bottom: 60px;
}

/* ==== /\prefectures === */




/* ==== \/top-places === */

.top-places {
    margin-bottom: 144px;
}

.places-list {
    display: flex;
    flex-wrap: wrap;

    gap: 60px 46px;
}

.places-list__item {
    width: 366px; 
    position: relative;

}
 
.places-list__item--image {
    width: 386px;
    height: 377px;

    margin-bottom: 48px;
}

.places-list__item--link:hover ~ .places-pic-info {
    top: 322px;
    opacity: 1;
}

.places-list__item::before {
    content: "";

    position: absolute;
    left: 0;
    top: 377px;

    display: block;
    height: 55px;
    width: 366px;
    z-index: 5;

    margin-bottom: 50px;

    background-color: #fff;
}

.places-pic-info {
    opacity: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 0;
    top: 375px;

    text-transform: uppercase;

    padding: 15px 25px;

    height: 55px;
    width: 100%;

    background: rgba(21, 24, 36, 0.6);
    color: #fff;

}

.places-pic-info__title {
    font-size: 1.3em;

    text-transform: capitalize;
}

.places-pic-info__stat em {
    padding-right: 10px;

    position: relative;
}

.places-pic-info__stat em:not(:last-child) {
    margin-right: 15px;
}

.places-pic-info__stat em.like::after {
    content: "";

    display: block;
    height: 15px;
    width: 15px;

    position: absolute;
    right: -8px;
    top: 3.5px;

    background-image: url("../images/places/info/heart.svg");
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
}

.places-pic-info__stat em.comment::after {
    content: "";

    display: block;
    height: 15px;
    width: 15px;

    position: absolute;
    right: -12px;
    top: 3.5px;

    background-image: url("../images/places/info/comments.svg");
    background-position: center;
    background-size: 14px;
    background-repeat: no-repeat;
}

.places-pic-info__desc {
    margin-bottom: 40px;

    color: #102746;
}

/* ==== /\top-places === */





/* ==== \/trailer === */

.trailer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 860px;

    background: url("../images/trailer/bg.webp") center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trailer__button {
    font-size: 0;

    height: 120px;
    width: 120px;

    background: url("../images/trailer/Shape.svg") no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* ==== /\trailer === */


/* ==== \/footer === */

.page-footer {
    background-color: #0E1D28;
    color: #fff;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 120px 0;
}

.footer-item .header-logo img {
    width: 170px;
    height: 64px;
}

.footer-lists__main {
    display: flex;
    justify-content: space-between;

    width: 500px;
}

.footlist__sub--item {
    margin-bottom: 8px;
}

.footlist__sub--title {
    font-size: 1.1em;
}

.footlist__sub--item a:hover {
    opacity: 0.5;
}

/* ==== /\footer === */


/* adaptive */

/* ===\/376px=== */
@media (max-width: 768px) {

    html, body {
        min-width: 1280px !important;
    }

    .container {
        width: 1280px;
        padding: 25px 45px !important;
    }

    p, a {
        font-size: 1.3em;
        line-height: 30px;
    }

    .wave-link {
        font-weight: 700;
        word-spacing: 5px;
        letter-spacing: 1px;
    }
    
    .wave-link__wave {
        top: 7px;

        width: 40px;
        height: 15px;
    }
    
    .general-header {
        font-size: 3em !important;
    
        margin-bottom: 53px;
    
        color: #102746;
    }
    
    .general-header::after {
        content: "";
    
        display: block;
        height: 3px;
        width: 283px;
    
        margin-top: 7px;
    
        background-color: #006DFE;
    }

    /* ===\/header=== */

    .page-header {
        padding-top: 60px;
    }

    .header-sup {
        grid-template-columns: 200px 1fr !important;
        justify-items: end;
    }

    .header-logo, .header-logo__link, .header-logo__image {
        display: block;
    
        width: 100%;
        height: 90%;
    }

    .header-nav__list {
        display: none;
    }

    /* \/header-bar */

    .header-nav__list__320px {
        display: flex;
    }
    
    .bar-for__360px {
        display: block;
        justify-self: end;
        margin-right: 5%;
    }

    .header-bar {
        font-size: 50px;

        height: 50px;
        width: 50px;
        padding: 0;

        background-color: transparent;
    }

    .header-bar:focus {
        transform: rotate(90deg);
        opacity: 0;
    }

    .header-bar:focus ~ .bar-mask {
        z-index: 7;
        opacity: 1;
        left: 0;
    }

    .header-bar:hover {
        background-color: unset;
    }

    .bar-mask {
        display: flex;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.9);
        width: 1280px;
        height: 8000px;

        position: fixed;
        left: -1280px;
        top: 0;
        z-index: -5;

        opacity: 0;
    }

    .header-nav__list__320px {
        flex-direction: column;
        row-gap: 130px;
        margin-top: 300px;

        text-transform: uppercase;
        font-size: 4em;
        font-weight: 900;
        
    }
    .header__bar {
        display: block;
    }

    .header-main__form {
        width: auto !important;
    }
    /* /\header-bar */


    /* \/header-main */

    .header-main__form .form-item {
        font-size: 1.5em;

        flex-basis: 390px;
        padding-bottom: 35px;
    }

    .header-form__label {
        width: 135%;
    }

    /* /\header-main */

    /* \/header-footer */

    .header-footer {
        width: 1010px;
        height: min-content;

        top: 730px;
        left: 7.5%;
    }

    .header-footer__item {
        padding: 75px 0;
    }

    .header-footer__title {
        font-size: 2.7em;
    }

    .header-footer__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 55px 35px;
    }

    .hfooter-list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 420px;

        text-align: center;
    }

    .hfooter-list__title {
        font-size: 2.4em;
    }

    .hfooter-list__info {
        font-size: 2em;

        max-width: max-content;
    }

    /* /\header-footer */

    /* ===/\header=== */
    

    /* \/trip-list */

    .trip {
        margin-top: 1630px;
    }

    .trip-sup .wave-link__block {
        margin-right: 40px;
    }

    .trip-list {
        flex-direction: column;
        row-gap: 30px;
    }

    .trip-pic-info {
        padding: 50px !important;
    }

    .trip-pic-info__title {
        font-size: 5.2em !important;
    }

    .trip-item__image {
        width: 1250px !important;
        height: auto !important;
    }

    /* /\trip-list */

    /* ==== \/footer === */

    .footer-item {
        justify-content: space-evenly;
    }

    .footer-item .header-logo {
        flex-grow: 1;
    }

    .footer-lists__main {
        gap: 75px;
        flex-grow: 1;
        width: 630px;
        margin-right: 100px;
    }

    .footlist__sub--item {
        font-size: 1.3em;
        margin-bottom: 15px !important;
    }
    
    .footlist__sub--title {
        font-weight: 700;
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    
    .footer-lists__main a:hover {
        opacity: 0.5;
    }

    /* ==== /\footer === */

}

/* ===\/376px=== */
@media (max-width: 426px) {

    html, body {
        min-width: 1280px !important;
    }

    .container {
        width: 1280px;
        padding: 25px 45px !important;
    }

    p, a {
        font-size: 1.3em;
        line-height: 30px;
    }

    .wave-link {
        font-weight: 700;
        word-spacing: 5px;
        letter-spacing: 1px;
    }
    
    .wave-link__wave {
        top: 7px;

        width: 40px;
        height: 15px;
    }
    
    .general-header {
        font-size: 3em !important;
    
        margin-bottom: 53px;
    
        color: #102746;
    }
    
    .general-header::after {
        content: "";
    
        display: block;
        height: 3px;
        width: 283px;
    
        margin-top: 7px;
    
        background-color: #006DFE;
    }

    /* ===\/header=== */

    .page-header {
        padding-top: 60px;
    }

    .header-sup {
        grid-template-columns: 200px 1fr !important;
        justify-items: end;
    }

    .header-logo, .header-logo__link, .header-logo__image {
        display: block;
    
        width: 100%;
        height: 90%;
    }

    .header-nav__list {
        display: none;
    }

    /* \/header-bar */

    .header-nav__list__320px {
        display: flex;
    }
    
    .bar-for__360px {
        display: block;
        justify-self: end;
        margin-right: 5%;
    }

    .header-bar {
        font-size: 50px;

        height: 50px;
        width: 50px;
        padding: 0;

        background-color: transparent;
    }

    .header-bar:focus {
        transform: rotate(90deg);
        opacity: 0;
    }

    .header-bar:focus ~ .bar-mask {
        z-index: 7;
        opacity: 1;
        left: 0;
    }

    .header-bar:hover {
        background-color: unset;
    }

    .bar-mask {
        display: flex;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.9);
        width: 1280px;
        height: 8000px;

        position: fixed;
        left: -1280px;
        top: 0;
        z-index: -5;

        opacity: 0;
    }

    .header-nav__list__320px {
        flex-direction: column;
        row-gap: 130px;
        margin-top: 1000px;

        text-transform: uppercase;
        font-size: 4em;
        font-weight: 900;
        
    }
    .header__bar {
        display: block;
    }

    .header-main__form {
        width: auto !important;
    }

    /* /\header-bar */

    /* \/header-main */

    .header-main__title {
        font-size: 5.3em;
        font-weight: 900;

        margin-bottom: 40px;
    }

    .header-main__info {
        font-size: 1.9em;
        letter-spacing: 1px;
        line-height: 45px;

        width: 800px;
    }

    .header-main__form {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 80px;

        width: 700px !important;
    }
    
    .header-main__form .form-item {
        font-size: 2.5em;

        flex-basis: 0;
        width: 660px !important;
        padding-bottom: 35px;
    }

    .header-main__form .header-form__input--radio {
        width: 60px;
        height: 60px;

        border-width: 5px;
    }

    .header-form__input--radio +  .radio-input__click {
        width: 38px;
        height: 38px;

        margin-left: 11px;
        margin-top: 11px;
    }

    .header-form__label {
        font-size: 1em;
        padding-left: 90px;
    }

    .header-form__button {
        font-size: 2.5em;
        margin: 0 auto;
    }

    /* /\header-main */

    /* \/header-footer */

    .header-footer {
        width: 1010px;
        height: min-content;

        top: 1300px;
        left: 7.5%;
    }

    .header-footer__item {
        padding: 75px 0;
    }

    .header-footer__title {
        font-size: 2.7em;
    }

    .header-footer__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 55px 35px;
    }

    .hfooter-list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 420px;

        text-align: center;
    }

    .hfooter-list__title {
        font-size: 2.4em;
    }

    .hfooter-list__info {
        font-size: 2em;

        max-width: max-content;
    }

    /* /\header-footer */

    /* ===/\header=== */
    

    /* \/trip-list */

    .trip {
        margin-top: 1630px;
    }

    .trip-sup .wave-link__block {
        margin-right: 40px;
    }

    .trip-list {
        flex-direction: column;
        row-gap: 30px;
    }

    .trip-pic-info {
        padding: 50px !important;
    }

    .trip-pic-info__title {
        font-size: 5.2em !important;
    }

    .trip-item__image {
        width: 1250px !important;
        height: auto !important;
    }

    /* /\trip-list */




    /* ==== \/prefectures === */

    .pfc-list {
        row-gap: 100px;
    }

    .pfc-list__item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

        margin: 0 auto;
    }

    .pfc-list__item--image {
        order: 0 !important;
        margin: 0 0 30px !important;

        width: 100% !important;
        height: auto !important;
    }

    .pfc-list__info {
        width: 800px;
        text-align: center;
    }

    .pfc-list__title {
        font-size: 3em;

        margin-bottom: 40px;
    }

    .pfc-list__desc{
        font-size: 1.8em;
        line-height: 38px;
    }

    /* ==== /\prefectures === */



    /* ==== \/top-places === */

    .places-list {
        flex-direction: column;
        align-items: center;
        gap: 100px 50px;
    }

    .places-list__item {
        margin: 0 20px;
        width: 760px;
        text-align: center;
    }

    .places-list__item::before {
        content: "";
    
        position: absolute;
        top: 742px;
    
        display: block;
        height: 55px;
        width: 100%;
        z-index: 5;
    
        margin-bottom: 50px;
    
        background-color: #fff;
    }

    .places-list__item--link:hover ~ .places-pic-info {
        top: 610px;
        opacity: 1;
    }

    .places-list__item--image {
        width: 100%;
        height: 100%;

        margin-bottom: 45.5px;
    }

    .places-pic-info {
        font-weight: 700;
        
        top: 692px;

        padding: 20px 35px;
        height: 130px;
        
    }

    .places-pic-info__title {
        font-weight: inherit;
        font-size: 2.7em;
    
        text-transform: capitalize;
    }

    .places-pic-info__stat {
        font-size: 2.3em;
        
    }

    .places-pic-info__stat em {
        padding-right: 40px;
    
        position: relative;
    }

    .places-pic-info__stat em:not(:last-child) {
        margin-right: 25px;
    }

    .places-pic-info__stat em.like::after, .places-pic-info__stat em.comment::after {
        top: 2.5px;
        background-size: 35px;

        height: 45px;
        width: 45px;
    }

    .places-pic-info__desc {
        font-size: 2em;
        line-height: 40px;
    }

    .places-list__item .link-button__small {
        font-size: 2em;
        padding: 22px 40px;
    }

    /* ==== /\top-places === */


    /* ==== \/footer === */

    .footer-item {
        justify-content: space-evenly;
    }

    .footer-item .header-logo {
        flex-grow: 1;
    }

    .footer-lists__main {
        gap: 0 65px;
        flex-grow: 1;
        width: 630px;
    }

    .footlist__sub--item {
        font-size: 1.3em;
        margin-bottom: 15px !important;
    }
    
    .footlist__sub--title {
        font-weight: 700;
        font-size: 1.6em;
        margin-bottom: 20px;
    }
    
    .footer-lists__main a:hover {
        opacity: 0.5;
    }

    /* ==== /\footer === */
}

/* ===\/376px=== */